.contenedor{ 
  height: 100vh;
  display: grid;
  place-content: center;
  background-image: url(https://segurarse.com.ar/blog/wp-content/uploads/2020/07/seguro-salud.jpg);  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;  
  opacity: 0.80;
}
.boton2
{
    text-align:center;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFF;
    padding: 10px 30px;
    white-space: nowrap;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 10px 5px;
    -webkit-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: rgb(225, 224, 207);
    width: 300px;
    
}

.link{
  text-decoration: none;
  color: black;
  font-size: 15px;
}
button:hover{
  background-color: rgb(240, 226, 236); 
  cursor: pointer
}
  