.nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(188, 236, 250);
    
}
.div-nav{ 

    margin-right: 30px;
    
}
ul{
    display: flex;
    list-style: none;
    gap: 10px;
}
.li{
    text-decoration: none;
    list-style: none;
    color: black;
}
.li:hover{
    text-decoration: underline aliceblue;

}